// Icon Resource Definition
#define MAIN_ICON                       102

MAIN_ICON               ICON                    "..\EmotiBitIcons\icoFiles\EmotiBitLogo.ico"
//#if defined(_DEBUG)
//MAIN_ICON               ICON                    "..\EmotiBitIcons\icoFiles\EmotiBitLogo.ico"
//#else
//MAIN_ICON               ICON                    "..\EmotiBitIcons\icoFiles\EmotiBitLogo.ico"
//#endif
